/* .modal-fullscreens {
  width: auto;
  height: auto;
  margin: 1.75rem auto;
} */

@media (max-width: 767px) {
  .modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
  }
  .modal-footer {
    display: block;
    width: 100%;
  }
}

.btn-modal-filter {
  width: 100%;
  white-space: nowrap;
}

.btn-modal-filter:hover {
  background-color: transparent;
  color: var(--secondary-color);
}
.confirm-modal-buttons {
  display: flex;
  justify-content: space-around; /* Centraliza os botões com espaço ao redor */
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.confirm-modal-buttons .confirm-button {
  background-color: var(--secondary-color);
  color: white; /* Texto branco */
}

.confirm-modal-buttons .cancel-button {
  background-color: var(--cancelled);
  color: white; /* Texto branco */
}

.confirm-modal-buttons .confirm-button:hover,
.confirm-modal-buttons .cancel-button:hover {
  opacity: 0.5;
}
