:root {
  --primary-color: #112D4E;
  --primary-color-darker: #020e1bcb;
  --secondary-color: #3F72AF;
  --greyish: #DBE2EF;
  --whitey: #F9F7F7;
}

.section1{
    background-color: var(--greyish);
    min-height: 630px;
  }
  
  .section2 {
    background-color: var(--whitey);
    min-height: 1020px;
  }

  .section3 {
    background-color: var(--greyish);
    min-height: 700px;
  }

  .align-right {
    display: flex;
    justify-content: flex-end;
  }

  .section4 {
    background-color: var(--whitey);
    height: 100vh;
    
  }

  .main-container {
    background-color: var(--primary-color);
    min-height: 100vh;
    width: 100vw;
    color: var(--whitey);
  }
  
  .align-left {
    display: flex;
    justify-content: flex-start;
  }

  .modal-style {
    background-color: var(--primary-color-darker);
    border: none !important;
  }

  .button-style1 {
    background-color: var(--secondary-color);
    color: var(--whitey);
    border: none;
  }