.product-card {
  background-color: var(--withey-color);
  color: var(--primary-color);
}

.product-title {
  display: flex;
  justify-content: space-between;
}

.badge-style {
  background-color: var(--admin) !important;
  font-size: small;
  color: var(--primary-color);
}

.badge-style1 {
  background-color: var(--admin) !important;
  font-size: small;
  color: var(--primary-color);
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
