.project-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.project-card-header {
  background-color: #f8f9fa;
  border-bottom: none;
}

.project-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.project-card-text {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.project-card-keywords,
.project-card-skills {
  width: 50%;
  height: 2.5rem;
}

.project-card-badge {
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-view {
  background-color: var(--primary-color);
  color: white;
  height: 100%;
  width: 100%;
  margin: 0px;
  border-radius: 0px;
}

.btn-view:hover {
  background-color: var(--secondary-color);
  color: white;
}

.card-footer {
  padding: 0px;
}
